# =========================
# System files
# =========================
.DS_Store
Thumbs.db
.directory

# =========================
# IDE / Editors
# =========================
.vscode/
.idea/

# =========================
# Logs & temp files
# =========================
*.log
*.tmp

# =========================
# Node / JS dependencies
# =========================
node_modules/

# =========================
# Build outputs
# =========================
dist/
build/
